#wrapper *{margin: 0; padding: 0; font-family: Arial, sans-serif;}
#wrapper{margin: 0 auto; padding: 20px; background-color: #CCC; display: inline-block; margin-left: 50%; transform: translateX(-50%);}
#wrapper p{margin: 10px 0;}
#wrapper input, #wrapper select, #calculate{height: 35px; border: none; padding: 0px 10px; font-size: 20px; margin-top: 15px; width: 250px;}
#result{width: 250px;}
#big{font-size: 50px;}
button, select{cursor: pointer;}
#qunit{width: 700px; margin: 20px auto;}